version: '3.4'

services:
  webapi:
    image: webapi
    build:
      context: .
      dockerfile: src/SecretSanta.WebAPI/Dockerfile
    environment:
      - "ConnectionStrings__DefaultConnection=Server=db;Database=SecretSantaDb;User Id=secretsanta;Password=changeme;Port=5432"
      - "IdentityServer__Key__Type=Development"
      - "ASPNETCORE_Kestrel__Certificates__Default__Password=changeme"
      - "ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx"
    volumes:
      - ~/.aspnet/https:/https:ro
    ports:
      - "5000:5000"
      - "5001:5001"
    depends_on:
      - db
    restart: on-failure

  db:
    image: postgres:12-alpine
    ports:
    - 5432
    environment:
      POSTGRES_PASSWORD: "changeme"
      POSTGRES_USER: "secretsanta"
      POSTGRES_DB: "SecretSantaDb"
