version: '3.4'

services:

  integration-tests:
    image: integration-tests
    build:
      context: .
      dockerfile: tests/Application.IntegrationTests/Dockerfile
    environment:
      - "ConnectionStrings__DefaultConnection=Server=testdb;Database=SecretSantaTestDb;User Id=secretsanta;Password=${PG_PW};Port=5432"
    depends_on:
      - testdb

  testdb:
    image: postgres:12-alpine
    ports:
      - 5432
    environment:
      POSTGRES_PASSWORD: ${PG_PW}
      POSTGRES_USER: "secretsanta"
      POSTGRES_DB: "SecretSantaTestDb"
